@model MCQsDesigner.Web.Models.ViewModel.DegreeProgramsViewModel
@{
    ViewBag.Title = "SubCategory";

    Layout = "~/Views/Shared/_MainDashLayout.cshtml";
}

<div id="page-wrapper">
    <h2><i class="glyphicon glyphicon-edit"></i> Manage SubCategory</h2>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#degree-list" data-toggle="tab">Program List</a></li>
                <li><a href="#addsubcategory" data-toggle="tab">Add Degree</a></li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="degree-list">
                    <table id="tbl-degree" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Program</th>
                                <th>Level</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>


                    </table>
                </div>
                <!-- #List -->
                <!-- #Add-->
                <div id="addsubcategory" class="tab-pane box-body">
                    @using (Html.BeginForm("AddDegreeProgram", "Category", FormMethod.Post, new { @class = "form", role = "form" }))
                    {
                        <div class="col-xs-3">
                            <div class="form-group">
                                @Html.LabelFor(x => x.DegreePrograms.CategoryId, new { @class = "control-label" })
                                @Html.DropDownListFor(x => x.DegreePrograms.CategoryId, new SelectList(Model.Categories, "Id", "Title"), "--Select Category--", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.DegreePrograms.ProgramTitle, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.DegreePrograms.ProgramTitle, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>


                    }


                </div>
                <!-- /#ion-icons -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>



@section scripts {

    <script>
        var table = $("#tbl-degree").DataTable({
            ajax: {
                url: "/api/categoryService/GetProgram",
                dataSrc: ""
            },
            columns: [
                {
                    data: "id"
                },
                {
                    data: "programTitle"
                },
                {
                    data: "category.title"
                },
                {
                    data: "id",
                    render: function (data,Type,ProgramRow) {
                        return "<a href='#'><span data-Program-id='" + data + "' class='glyphicon glyphicon-trash js-delete'></span>  </a>";
                    }
                }

            ]

        });

        $("#tbl-degree").on("click", ".js-delete", function () {

            var btn = $(this);

            bootbox.confirm("Are you sure you want to delete this ?", function (result) {

                if (result) {
                    $.ajax({ 
                        url: "/api/CategoryService/DeleteDegree/" + btn.attr("data-Program-id"),
                        method: 'DELETE',
                        success: function () {
                            table.row(btn.parents("tr").remove()).remove().draw();
                        }
                       


                    });
                }

            })


        })


    </script>

}

