@model  MCQsDesigner.Web.Models.ViewModel.CategoryViewModel

@{
    ViewBag.Title = "ManageCategory";
    
        Layout = "~/Views/Shared/_MainDashLayout.cshtml";
    

}

<div id="page-wrapper">
    <h2><i class="glyphicon glyphicon-edit"></i> ManageCategory</h2>
</div>



<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#Category-list" data-toggle="tab">Program List</a></li>
                <li><a href="#add-category" data-toggle="tab">Add Category</a></li>
            </ul>
            <div class="tab-content">
               
                <div class="tab-pane active"  id="Category-list">
                    <table id="tblcategory" class="table table-bordered table-striped">
                        <thead >
                            <tr>
                                <th>Id</th>
                                <th>DegreeTitle</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- #List -->
                <!-- #Add-->
                <div class="tab-pane box-body " id="add-category">
                    @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id="form-category"}))
                    {

                      <div class="row">
                          <div class="col-md-offset-2 col-md-10">
                              <div class="form-group">
                                  @Html.LabelFor(x => x.Categories.Title, new { @class = "control-label col-md-3" })
                                  <div class="col-md-4">
                                      @Html.TextBoxFor(x => x.Categories.Title, new { @class = "form-control " })
                                  </div>
                              </div>
                             
                          </div>
                      </div>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-7">
                            <input type="submit" value="Add" class="btn btn-default" />
                        </div>
                    </div>
                    }
                </div>
                <!-- /#ion-icons -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>



 
    <!---->


@section scripts {

    <script>
        $(document).ready(function () {




            var table = $("#tblcategory").DataTable({
                ajax: {
                    url: "/api/categoryService/GetCategory",
                    dataSrc:""
                },
                columns: [
                    {
                        data:"id"
                    },
                    {
                        data:"title"
                    },
                    {
                        data: "id",
                        render:function(data,type,categoryRow){
                            return "<a href='#'><span data-category-id='" + data + "' class='glyphicon glyphicon-trash js-delete'></span>  </a>";
                        }
                    }
                ]
                

            });


            $("#tblcategory").on("click", ".js-delete", function () {

                var btn = $(this);

                bootbox.confirm("Are you sure you want to delete this ?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/categoryService/DeleteCategory/" + btn.attr("data-category-id"),
                            method:'DELETE',
                            success: function () {
                                table.row(btn.parents("tr").remove()).remove().draw();
                                
                            }

                        }).done(function () {
                            toastr.success(" Succesfully deleted !");
                        });
                    }

                })

            });

        });

    </script>
    
}

















